.countContainer {
  grid-column: 4 /span 1;
  grid-row: 3 /span 1;
  align-self: center;
  font-size: 200px;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
  justify-self: center;
  color:rgb(228, 253, 4);
}